<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">stream</i>
            </div>
            <p class="card-category">Active Reseller</p>
            <h3 class="card-title">455</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Sales</p>
            <h3 class="card-title">50</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <app-pick-date-rang [tableMode]="false">
                <i class="material-icons">date_range</i>
              </app-pick-date-rang>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">Pending kyc</p>
            <h3 class="card-title">45</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-twitter"></i>
            </div>
            <p class="card-category">Followers</p>
            <h3 class="card-title">+245</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Contact Queries</h4>
            <p class="card-category">List of all contact query</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="">
                  <app-common-search
                    (onQuery)="searchContactQueryByQuery($event)"
                    [placeholderText]="'Search'"
                    [isSearchAsTypeOn]="true"
                  >
                  </app-common-search>
                </div>
              </div>
              <!-- <div class="col-md-4">
                            </div> -->
              <!-- <div class="col-md-4">
                                <div class="">
                                    <button
                                        class="mat-focus-indicator btn btn-danger pull-right mat-raised-button mat-button-base"
                                        [routerLink]="['add-edit-gst-tax-type']">
                                        <span class="mat-button-wrapper">Add GST Tax Type</span>
                                        <div class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>
                                </div>
                            </div> -->
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Company Name</th>
                  <th>Message</th>
                  <th>Created at</th>
                  <th>Status</th>
                  <th>Action</th>
                </thead>
                <tbody *ngIf="!isListLoading">
                  <tr *ngFor="let contactQuery of dataList; let i = index">
                    <td>{{ i + 1 + (page - 1) * 10 }}</td>
                    <td>{{ contactQuery?.name }}</td>
                    <td>{{ contactQuery?.email }}</td>
                    <td>{{ contactQuery?.phone_number }}</td>
                    <td>{{ contactQuery?.company_name }}</td>
                    <td>{{ contactQuery?.message }}</td>
                    <td>{{ contactQuery?.created_at | customdate }}</td>
                    <td>
                      <span
                        class="badge badge-pill"
                        [ngClass]="{
                          'badge-primary': contactQuery.status == 'pending',
                          'badge-success': contactQuery.status == 'active',
                          'badge-danger': contactQuery.status == 'inactive'
                        }"
                        >{{ contactQuery.status | uppercase }}</span
                      >
                    </td>
                    <td>
                      <div class="dropdown">
                        <button
                          type="button"
                          class="btn btn-outline-primary dropdown-toggle"
                          data-toggle="dropdown"
                        >
                          Actions
                        </button>
                        <div class="dropdown-menu">
                          <a
                            class="dropdown-item"
                            ngbTooltip="Delete"
                            (click)="
                              deleteContactQuery(
                                contactQuery.id,
                                contactQuery.name
                              )
                            "
                            href="javascript:void(0)"
                            >Delete</a
                          >
                          <a
                            class="dropdown-item"
                            ngbTooltip="Edit"
                            [routerLink]="[
                              'contact-query-details',
                              contactQuery.id
                            ]"
                            >View</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="!dataList.length">
                    <td colspan="6">
                      <div class="text-center">No record found.</div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="10">
                      <div class="pull-right">
                        <!-- <app-ngb-pagination [collectionSize]="totalQueryableData" 
                        [page]="page"
                        (pageChange)="handlePageChange($event)"
                        [isDisabled]="isListLoading">
                      </app-ngb-pagination> -->

                        <ngb-pagination
                          [collectionSize]="totalQueryableData"
                          [(page)]="page"
                          [disabled]="isListLoading"
                          (pageChange)="handlePageChange($event)"
                        >
                        <ng-template ngbPaginationPrevious>Prev</ng-template>
                        <ng-template ngbPaginationNext>Next</ng-template>
                        
                        </ngb-pagination>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="isListLoading">
                  <tr>
                    <td colspan="6">
                      <app-data-loader></app-data-loader>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
