  
<h1 mat-dialog-title>{{ updateToggle ? 'Update Collection' : 'Create Collection'}}</h1>
<div  mat-dialog-content>
<form [formGroup]="collectionForm">
    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.id"
                >
                {{category?.product_category}}
            </mat-option>
        </mat-select>  
    </mat-form-field>
    <mat-form-field appearance="fill" MatFormFieldControl>
        <mat-label>Min Price</mat-label>
        <input  type="number" formControlName="pmin" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" MatFormFieldControl>
        <mat-label>Max Price</mat-label>
        <input  type="number" formControlName="pmax" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" MatFormFieldControl>
        <mat-label>Stock</mat-label>
        <input  type="number" formControlName="stock" matInput>
    </mat-form-field>
    <label class="file" *ngIf="!updateToggle">
        <input type="file" accept="image/x-png,image/gif,image/jpeg"  id="file" (change)="handleFileInput($event.target.files)" aria-label="File browser example">
        <span class="file-custom"></span>
    </label>
</form>
</div>
<div mat-dialog-actions [hidden]="saving">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button (click)="Submit()">{{updateToggle ? 'Update' : 'Save'}}</button>
</div>
<mat-spinner [hidden]="!saving"></mat-spinner>