<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">stream</i>
                        </div>
                        <p class="card-category">Active Reseller</p>
                        <h3 class="card-title">455
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Sales</p>
                        <h3 class="card-title">50</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <app-pick-date-rang [tableMode]="false">
                                <i class="material-icons">date_range</i>
                            </app-pick-date-rang>
        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Pending kyc</p>
                        <h3 class="card-title">45</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Followers</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Contact Management</h4>
                        <!-- <p class="card-category"> List of all customers and service providers.</p> -->
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <app-common-search (onQuery)="searchUserByQuery($event)"
                                        [placeholderText]="'Search'" [isSearchAsTypeOn]="true">
                                    </app-common-search>
                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                                <div class="">
                                    <app-common-sort (onFilter)="sortUserByStatus($event)" [defaultText]="'User Status'"
                                        [sortObject]="sortByStatusObject" [isDisabled]="loading">
                                    </app-common-sort>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <app-common-sort (onFilter)="sortUserByType($event)" [defaultText]="'User Type'"
                                        [sortObject]="sortByUserTypeObject" [isDisabled]="loading">
                                    </app-common-sort>
                                </div>
                            </div> -->
                       
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>Business Name</th>
                                    <th>Email</th>
                                    <th>Owner Name</th>
                                    <!-- <th>Phone</th> -->
                                    <th>Business type</th>
                                    <th>Contact No.</th>
                                    <th>Member Since</th>
                                </thead>
                                <tbody >

                                    <tr *ngFor="let user of dataList; let i = index" >
                                        <td>{{user.full_name | titlecase}}</td>
                                        <td>{{user.email}}</td>
                                        <td >{{user.first_name | titlecase}}  {{user.last_name |titlecase}}</td>
                                        <td>Electronic</td>
                                        <td>{{user.phone_number}}</td>
                                        <td>{{user.created_at | customdate}}</td>

                                    </tr>
                                    
                                    <tr *ngIf="!dataList.length">
                                        <td colspan="6">
                                            <div class="text-center">No record found.</div>
                                        </td>
                                    </tr>
                                   <tr *ngIf="!dataList.length">
                                        <td colspan="7">
                                            <div class="pull-right">
                                                  <app-ngb-pagination [collectionSize]="totalQueryableData" [page]="page"
                                                    (pageChange)="handlePageChange($event)"
                                                    [isDisabled]="isListLoading">
                                                </app-ngb-pagination>
                                            </div>
                                        </td>
                                    </tr>
                                   
                                   
                                    
                                </tbody>
                                <tbody *ngIf="isListLoading">
                                    <tr>
                                        <td colspan="6">
                                            <app-data-loader></app-data-loader>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>