<div class=" dash-sec-padding">
  <div class="container">
    <div class="row align-items-center minh_100vh">
      <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header card-header-danger text-center">
                <h4 class="card-title">Edit Setting</h4>
                <p class="card-category">Password Change</p>
            </div>
            <div class="main-col-content px-4 pb-5">
                <form [formGroup]="passwordResetForm">

                    <div class="">
                        <div class="company-info mt-5 px-4">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <!-- <h3 class="title-small">Password Change</h3> -->
                                   <!-- <alert></alert>-->
                                    <div class="form-group row">
                                        
                                        <mat-form-field class="example-full-width w-100">
                                            <input [formControl]="passwordcontrol.current_password" id="oldPassword" matInput placeholder="Old Password" type="password">
                                        </mat-form-field>
                                        <mat-error class="d-block w-100" *ngIf="submitted && passwordcontrol.current_password.errors?.required">
                                                This field is required
                                            <!-- {{errorMessages.PASSWORD_REQUIRED}} -->
                                        </mat-error>
                                        <!-- <label for="oldPassword" class="col-sm-4 col-form-label">Old Password</label>
                                        <div class="col-sm-8">
                                            <input type="text" formControlName="current_password" class="form-control" id="oldPassword"  [ngClass]="{ 'is-invalid': submitted && passwordcontrol.current_password.errors }">
                                            <ul class="text-danger validation-text" style="padding-left: 15px;">
                                                <li *ngIf="submitted && passwordcontrol.current_password.errors?.required">This field is required</li>
                                            </ul>
                                        </div> -->
                                    </div>
                                    <div class="form-group row">
                                        <mat-form-field class="example-full-width w-100">
                                            <input [formControl]="passwordcontrol.password" id="newPassword" matInput placeholder="New Password" type="password">
                                        </mat-form-field>
                                        <mat-error class="d-block w-100" *ngIf="submitted && passwordcontrol.password.errors?.required">
                                                This field is required
                                        </mat-error>
                                        <mat-error class="d-block w-100" *ngIf="passwordcontrol.password.touched && passwordcontrol.password.errors?.hasNumber">
                                                Must contain at least 1 number!
                                        </mat-error>
                                        <mat-error class="d-block w-100" *ngIf="passwordcontrol.password.touched &&passwordcontrol.password.errors?.hasCapitalCase">
                                                Must contain at least 1 Letter in Capital Case!
                                        </mat-error>
                                        <mat-error class="d-block w-100" *ngIf="passwordcontrol.password.touched &&passwordcontrol.password.errors?.hasSmallCase">
                                                Must contain at least 1 Letter in Small Case!
                                        </mat-error>
                                        <mat-error class="d-block w-100" *ngIf="passwordcontrol.password.touched &&passwordcontrol.password.errors?.minlength">
                                                Must be at least 8 characters!
                                        </mat-error>
                                        <mat-error class="d-block w-100" *ngIf="passwordcontrol.password.touched &&passwordcontrol.password.errors?.hasSpecialCharacters">
                                                Must contain at least 1 Special Character!
                                        </mat-error>
                                        <!-- <label for="newPassword"   class="col-sm-4 col-form-label">New Password</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" formControlName="password" id="newPassword" [ngClass]="{ 'is-invalid': submitted && passwordcontrol.password.errors }">
                                            <div *ngIf="passwordcontrol.password.errors" class="text-danger validation-text">
                                                <ul class="" style="padding-left: 15px;">
                                                    <li *ngIf="submitted && passwordcontrol.password.errors.required">This field is required</li>
                                                    <li *ngIf="passwordcontrol.password.errors.hasNumber">Must contain at least 1 number!</li>
                                                    <li *ngIf="passwordcontrol.password.errors.hasCapitalCase">Must contain at least 1 in Capital Case!</li>
                                                    <li *ngIf="passwordcontrol.password.errors.hasSmallCase">Must contain at least 1 Letter in Small Case!</li>
                                                    <li *ngIf="passwordcontrol.password.errors.hasSpecialCharacters">Must contain at least 1 Special Character!</li>
                                                    <li *ngIf="passwordcontrol.password.errors.minlength">Must be at least 8 characters!</li>
                                                </ul>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="form-group row">
                                        <mat-form-field class="example-full-width w-100">
                                            <input [formControl]="passwordcontrol.confirm_password" id="confirm_password" matInput placeholder="Confirm New Password" type="password" [ngClass]="{ 'is-invalid': submitted && passwordcontrol.confirm_password.errors }">
                                        </mat-form-field>
                                        <mat-error class="d-block w-100" *ngIf="submitted && passwordcontrol.confirm_password.errors?.required">
                                                This field is required
                                        </mat-error>
                                        <mat-error class="d-block w-100" *ngIf="submitted && passwordResetForm.errors?.passwordNotMatch">
                                                Password must be same
                                                
                                        </mat-error>
                                        <!-- <label for="confirm_password" class="col-sm-4 col-form-label">Confirm New Password</label>
                                        <div class="col-sm-8">
                                            <input type="text"  formControlName="confirm_password" class="form-control" id="confirm_password" [ngClass]="{ 'is-invalid': submitted && passwordcontrol.confirm_password.errors }">
                                            <ul class="text-danger validation-text" style="padding-left: 15px;">
                                                <li *ngIf="submitted && passwordcontrol.confirm_password.errors?.required">This field is required</li>
                                                <li *ngIf="passwordResetForm.errors?.passwordNotMatch && passwordcontrol.confirm_password.touched">Password must be same</li>
                                            </ul>
                                        </div> -->
                                    </div>
                                    <div class="form-group row">
                                        <!-- <div class="col-sm-4"></div> -->
                                        <div class="col-sm-12 p-0">
                                            <button mat-raised-button [disabled]="isChangePasswordProcessing" type="submit"
                                                class="btn btn-block btn-danger mb-4" (click)="submitPassword()">
                                                <mat-spinner *ngIf="isChangePasswordProcessing" [diameter]="20"></mat-spinner>
                                                <span *ngIf="!isChangePasswordProcessing">Save Changes</span>
                                            </button>
                                            <!-- <button type="submit" class="btn bex-btn-primary w-100" (click)="submitPassword()">Save Changes</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>