<ngx-spinner   bdColor="rgba(51,51,51,0.8)"
color="#fff"
template="<img src='https://i.gifer.com/origin/b4/b4d657e7ef262b88eb5f7ac021edda87.gif' style='width:100px;' />">
</ngx-spinner>
<div class="main-content ">
    <div class="py-2">

        <form class="p-3 bg-white" >
            <mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabClick($event)">
                <mat-tab label="Product">
                <ng-container 
                    *ngTemplateOutlet="product;context:{value:'product'}">
                 </ng-container></mat-tab>
                <mat-tab label="Variant">
                    <ng-container 
                    *ngTemplateOutlet="product;context:{value:'variant'}">
                 </ng-container>
                </mat-tab>
                <mat-tab label="Offer">
                    <ng-container 
                    *ngTemplateOutlet="product;context:{value:'offerprice'}">
                 </ng-container>
                </mat-tab>
                <mat-tab label="Lead">
                    <ng-container 
                    *ngTemplateOutlet="product;context:{value:'leadtime'}">
                 </ng-container>
                </mat-tab>
              </mat-tab-group>
          
            </form>
            </div>
</div>
  
<ng-template #product let-value="value">
 <div class="p-3 form-shadow m-2 mt-3">
    <div class="row">
        <div class="col-6">
            <h2 class="text-capitalize">{{value}} Bulk Upload</h2>
        </div>
        <div class="col-6 ">
            <div class="d-flex justify-content-end">
                <button mat-flat-button color="warn" *ngIf="value=='product' || value=='variant'" (click)="getSampleXLS(value,true,link)">Sample Fileds</button>
                <button mat-flat-button color="warn" class="ml-2" (click)="getSampleXLS(value,false,link)">Sample XLS</button>
            </div>
        </div>
        <div class="col-6 pl-0">
            <div class="row mx-0">
                <div class="col-12">
                    <a #link  download></a>
                    <input type="file" class="d-none" accept=".xls,.xlsx"
                    (change)="onChangeFile($event.target.files)" #filePdf />
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label class="text-capitalize">{{value}} Bulk</mat-label>
                        <input matInput type="text" [value]="fileName"/>
                        <mat-icon matSuffix class="cp" (click)="filePdf.click()"> attach_file</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <button mat-flat-button color="warn" (click)="upload(value)">Upload</button>
                </div>
                <div class="col-12 mt-2" *ngIf="this.list.product.length > 0 && value =='product'">
                    <table class="table">
                        <thead>
                          <tr>
                            <th class="font-weight-bold">Product Id</th>
                            <th class="font-weight-bold">Product Title</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  style="border-bottom:1px solid rgba(128, 128, 128,0.2);" *ngFor="let product of this.list.product;">
                            <td>{{product.id}}</td>
                            <td>{{product.product_name}}</td>
                          </tr>
                          
                        </tbody>
                  </table>
                </div>
                <div class="col-12 mt-2" *ngIf="this.list.variant.length > 0 && value =='variant'">
                    <table class="table">
                        <thead>
                          <tr>
                            <th class="font-weight-bold">Variant Id</th>
                            <th class="font-weight-bold">Variant Title</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  style="border-bottom:1px solid rgba(128, 128, 128,0.2);" *ngFor="let variant of this.list.variant;">
                            <td>{{variant.variant_id}}</td>
                            <td>{{variant.title}}</td>
                          </tr>
                          
                        </tbody>
                  </table>
                </div>
            </div>
       
        </div>
    </div>
 </div>
</ng-template>