<div class="main-content admin-login-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header card-header-danger text-center">
            <h4 class="card-title">CRM Panel</h4>
            <p class="card-category">Forgot Password</p>
          </div>
          <div class="card-body">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="handleSubmit()" novalidate>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input [formControl]="email" matInput placeholder="Email address" type="email">
                    <mat-error *ngIf="email.touched && email.errors?.required">{{errorMessages.EMAIL_REQUIRED}}
                    </mat-error>
                    <mat-error *ngIf="email.dirty && email.errors?.pattern">{{errorMessages.EMAIL_INCORRECT_FORMAT}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button [disabled]="isForgotPasswordProcessing" type="submit"
                class="btn btn-block btn-danger mb-4">
                <mat-spinner *ngIf="isForgotPasswordProcessing" [diameter]="20"></mat-spinner>
                <span *ngIf="!isForgotPasswordProcessing">Submit</span>
              </button>
              <div class="clearfix"></div>
              <p class="mb-0 text-muted text-center">Go to <a [routerLink]="['/auth/login']" class="f-w-400">Login</a>
              </p>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>