<div class="py-2">

    <form class="p-3 form-shadow" [formGroup]="shipingForm">
        <div class="row">
            <div class="col-12">
                <h2>Product Shiping</h2>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="example-full-width" >
                    <mat-label>Product Source Zone</mat-label>
                    <mat-select formControlName="product_source_zone">
                        <mat-option value="south">South</mat-option>
                        <mat-option value="north">North</mat-option>
                        <mat-option value="west">West</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="example-full-width" >
                    <mat-label>Sample Source Zone</mat-label>
                    <mat-select formControlName="sample_source_zone">
                        <mat-option value="south">South</mat-option>
                        <mat-option value="north">North</mat-option>
                        <mat-option value="west">West</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="example-full-width" >
                    <mat-label>Product Weight</mat-label>
                    <input matInput placeholder="In Gram" type="text"  formControlName="product_weight"/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="example-full-width" >
                    <mat-label>Shipping Box Dimenrions of min product packing</mat-label>
                    <input matInput placeholder="" type="text" formControlName="product_shiping_box"/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="example-full-width" >
                    <mat-label>Quantity in master carton</mat-label>
                    <input matInput  type="text"  formControlName="product_quantity_box"/>
                </mat-form-field>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <button mat-flat-button color="warn" (click)="data.emit(shipingForm.value);stepper.previous()">Prev</button>
                    <button mat-flat-button color="warn" (click)="data.emit(shipingForm.value);stepper.next()">Next</button>
                </div>
                
               
            </div>
        </div>
    </form>
</div>