.form-shadow{
    border-radius:4px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  ::ng-deep .varient_table .mat-form-field-wrapper{
    padding-bottom: 0px!important;
  }
  .cp{
    cursor: pointer;
  }