<ng-template #field>
    <div>
        <mat-form-field class="example-full-width" *ngIf="devices != 'android'">
            <mat-label>Enter redirect path</mat-label>
            <input matInput placeholder="Enter redirect path" #android [formControl]="adroidRedirectUrl">
            <mat-error *ngIf="adroidRedirectUrl.hasError('pattern')">Invalid url</mat-error>
        </mat-form-field>
        <div>
            <ng-container *ngIf="devices !== 'web'">
                <mat-form-field appearance="fill">
                    <mat-label>Banner Type</mat-label>
                    <mat-select [(ngModel)]="nav" name="nav">
    
                        <mat-option *ngFor="let data of navList" [value]="data?.value">
                            {{data?.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="nav === 'category' || nav === 'Product'">
                    <mat-label>Category</mat-label>
                    <mat-select [(ngModel)]="category_id" name="category">
    
                        <mat-option *ngFor="let category of categories" [value]="category.id"
                            (onSelectionChange)="getProduct(category.id)">
                            {{category?.product_category}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="nav ==='Product'">
                    <mat-label>Product</mat-label>
                    <mat-select [(ngModel)]="product_id" name="product_variant_id">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let product of productList" [value]="product?.id">
                            {{product?.product_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="nav ==='Product'">
                    <mat-label>Product Variant </mat-label>
                    <mat-select [(ngModel)]="product_variant_id" name="product_variant_id">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let product of product_variant_list" [value]="product?.id">
                            {{product?.variant_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="nav === 'Deal'">
                    <mat-label>Deals</mat-label>
                    <mat-select [(ngModel)]="deal_id" name="food">
                        <mat-option *ngFor="let deal of deals" [value]="deal?.id">
                            {{deal?.deal_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
    
        </div>
    </div>
</ng-template>


<div class="main-content">

    <h2>Slider Banner</h2>

    <mat-form-field appearance="fill">
        <mat-label>Image Bar</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="data" (selectionChange)="onselectionShildeChange()">
            <mat-option *ngFor="let item of list" [value]="item.value">
                {{item.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" >
        <mat-label>Image Bar</mat-label>
        <mat-select [(ngModel)]="devices" name="devices" (selectionChange)="onselectionChange()">
            <mat-option *ngFor="let item of devicesList" [value]="item.value">
                {{item.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="container-fluid" >
       
        <!-- You can now use your library component in app.component.html -->
        <ngx-slick-carousel class="carousel"  [config]="slideConfig" >
            <div ngxSlickItem *ngFor="let slide of devices === 'android' ? androidSlides :webSlides" class="slide">
                    <button mat-icon-button color="primary" (click)="deleteSliderImage(slide,devices)">
                        <mat-icon>delete</mat-icon>
                    </button>
                   <ng-container *ngIf="slide?.image_url !=='null'">Redirect path</ng-container>
                    <a *ngIf="slide?.image_url !=='null'" href="{{slide?.image_url}}"><label>{{slide?.image_url}}</label></a>
                <img class="androidBanner" [src]="slide?.cms_files" alt="" [height]="size()?.height/2" [width]="size()?.width/2">
            </div>
            
        </ngx-slick-carousel>

  
        
        <label class="file">
            <input type="file"  id="myFileInput"  accept="image/x-png,image/gif,image/jpeg" (change)="handleFileInput($event,devices)"  aria-label="File browser example">
            <span class="file-custom"></span>
        </label>
       <div>
                <ng-container *ngTemplateOutlet="field"></ng-container>
             
      
        </div>
        <button  class="btn btn-primary" *ngIf="adroidRedirectUrl.valid" [disabled]="loading" (click)="uploadFile(devices)">{{loading ?'Uploading...':'Upload'}}</button>
  
    </div>

    <!--<div class="container-fluid">
        <h1>iOS slider</h1>
        <ngx-slick-carousel class="carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of iosSlides" class="slide">
                <button mat-icon-button color="primary" (click)="deleteSliderImage(slide,'ios')">
                    <mat-icon>delete</mat-icon>
                </button>
                <img [src]="slide?.cms_files" alt="" height="200px" width="100%">
            </div>
    
        </ngx-slick-carousel>
    
    
        <label class="file">
            <input type="file" id="file" accept="image/x-png,image/gif,image/jpeg" (change)="handleFileInput($event)" aria-label="File browser example">
            <span class="file-custom"></span>
        </label>
        <button class="btn btn-primary" [disabled]="loading" (click)="uploadFile('ios')">{{loading
            ?'Uploading...':'Upload'}}</button>
    
    </div>-->
  
    <!-- <h2>Road Block Banner</h2>

    <div>

       <a [href]="roadBannerImageUrl" target="_blank" rel="noopener noreferrer">
        <img class="androidBanner" [src]="roadBannerImage" alt="" [height]="400" [width]="670">
    </a>
        <mat-form-field class="example-full-width" >
            <mat-label>Enter redirect path</mat-label>
            <input matInput placeholder="Enter redirect path" #roadBloack [formControl]="roadRedirectUrl" required>
            <mat-error *ngIf="roadRedirectUrl.hasError('pattern')">Invalid url</mat-error>
        </mat-form-field>


         
        <label class="file">
            <input type="file"  id="myFileInputRoad"  accept="image/x-png,image/gif,image/jpeg" (change)="handleFileInputRoad($event)"  aria-label="File browser example">
            <span class="file-custom"></span>
        </label>
         <img class="androidBanner" [src]="" alt="" [height]="400" [width]="970"> 

        <button  class="btn btn-primary" *ngIf="roadRedirectUrl.valid" [disabled]="loadingROAD" (click)="uploadFileRoad(devices)">{{loadingROAD ?'Uploading...':'Upload'}}</button>
  
    </div>
   -->
</div>


