<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Business Category List</h4>
                        <p class="card-category"> List of all Business Categories.</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <app-common-search (onQuery)="searchUserByQuery($event)"
                                        [placeholderText]="'Search'" [isSearchAsTypeOn]="true">
                                    </app-common-search>
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <button class="mat-focus-indicator btn btn-danger pull-right mat-raised-button mat-button-base" [routerLink]="['add-edit-partner']">
                                        <span class="mat-button-wrapper">Add Business Category</span>
                                        <div class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>#</th>
                                    <th>Category Name</th>
                                    <th>Created at</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </thead>
                                <tbody *ngIf="!isListLoading">
                                    <tr *ngFor="let partner of dataList; let i = index">
                                        <td>{{i+1}}
                                            <!--<a [routerLink]="['/crm/order-management/order-details', 'test']">{{partner?.id}}</a>-->
                                        </td>
                                        <td>{{partner?.business_partner}}</td>
                                        <td>{{partner?.created_at | customdate}}</td>
                                        <td>
                                            <span class="badge badge-pill"
                                                [ngClass]="{'badge-primary': ( partner.status == 'pending' ), 'badge-success': ( partner.status == 'active' ), 'badge-danger': ( partner.status == 'inactive' )}">{{ partner.status | uppercase }}</span>
                                        </td>
                                        <td>
                                            
                                            <!-- <button (click)="deleteCategory(category.id,category.product_category)" class="btn btn-primary">Delete</button> -->
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                                    data-toggle="dropdown">
                                                    Actions
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" ngbTooltip="Delete" (click)="deletePartner(partner.id,partner.business_partner);"
                                                        href="javascript:void(0)">Delete</a>
                                                        <a (click)="saveToLocal(partner);" class="dropdown-item" ngbTooltip="Edit"  [routerLink]="['add-edit-partner',partner.id]">Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!dataList.length">
                                        <td colspan="6">
                                            <div class="text-center">No record found.</div>
                                        </td>
                                    </tr>
                                    <!-- <tr *ngIf="!dataList.length">
                                        <td colspan="7">
                                            <div class="pull-right">
                                                <app-ngb-pagination [collectionSize]="totalQueryableData" [page]="page"
                                                    (pageChange)="handlePageChange($event)"
                                                    [isDisabled]="isListLoading">
                                                </app-ngb-pagination>
                                            </div>
                                        </td>
                                    </tr> -->
                                    <tr>
                                        <td colspan="7">
                                            <div class="pull-right">
                                                <app-ngb-pagination [collectionSize]="totalQueryableData" [page]="page"
                                                    (pageChange)="handlePageChange($event)"
                                                    [isDisabled]="isListLoading">
                                                </app-ngb-pagination>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="isListLoading">
                                    <tr>
                                        <td colspan="6">
                                            <app-data-loader></app-data-loader>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>