

<div mat-dialog-content style="padding:30px 40px; font-size:18px ;">Are you sure to update Category?</div>
<div mat-dialog-actions >
    <!-- <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon> -->
    <button mat-flat-button id="no-button" (click)="onNoClick()" style="color:white; background-color: rgb(212, 69, 69);  margin-left: 50px;">NO</button>
    <button mat-flat-button id="yes-button" mat-dialog-close="yes" style="color:white; background-color:rgb(103, 214, 103); margin-left: 50px; ">YES</button>
</div>

<!-- <div>
    <div class="content-container">
        <span class="content-span full-width">Are you sure to update Category?</span>
    </div>
    <button mat-flat-button id="no-button">NO</button>
    <button mat-flat-button id="yes-button">YES</button>
</div> -->