<div class="p-5">
    <div class="mt-5">
        <mat-card>
            <mat-nav-list *ngFor="let item of categories">
                <a [routerLink]="[item.id]" mat-list-item>
                    <!-- <mat-icon > -->
                        <img style="height: 54px;width: 54px;" mat-list-icon  [src]="item.product_category_image_150x150" alt="Photo of a Shiba Inu">
                    <!-- </mat-icon> -->
                    <span mat-line>{{item.product_category}}</span>
                    <span mat-line>Choose category</span>
                </a>
            </mat-nav-list>
        </mat-card>
    </div>
</div>